# =============================================================
# Configuration du serveur PXE ShredOS
# =============================================================

# Source de l'image: local | remote | auto
SHREDOS_SOURCE=local

# Dossier local hôte contenant ShredOS (.iso/.img/.img.tar.gz)
SHREDOS_LOCAL_DIR=./shredos-2025.11_28_i686_v0.40_20260204_lite-1

# Chemin dans le conteneur PXE (ne pas changer sauf besoin spécifique)
SHREDOS_LOCAL_PATH=/opt/local-shredos

# Utilisé seulement en mode remote/auto quand aucun fichier local n'est trouvé
SHREDOS_VERSION=latest

# Paramètres nwipe
# Tests: zero
# Prod: dod
NWIPE_METHOD=zero
NWIPE_VERIFY=off
NWIPE_EXTRA_OPTIONS=

# Dossier persistant de sortie
RAPPORTS_DIR=./rapports

# FTP de réception des PDF/logs
FTP_USER=shredreports
FTP_PASS=change_me_strong_password

# Fichier de leases DHCP partagé pour la corrélation IP->MAC
LEASE_FILE=/home/shredreports/ftpdata/dnsmasq.leases
REPORT_RENAME_SCAN_INTERVAL=10
